chromadb
einops==0.8.0
langchain==0.1.20
langchain-community
langchain-core
langchain-text-splitters
Levenshtein==0.25.1
llama-cpp-python
nltk==3.8.1
ollama
opencv-contrib-python==4.10.0.84
pillow
pillow_heif
pydantic
pydantic_core
PyMuPDF
pytesseract
python-Levenshtein
sentence-transformers==2.5.0
streamlit
timm
tokenizers
torch
torchvision
transformers
watchdog==4.0.1
docx2pdf